*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* untuk agar ukuran di web tdak berubah ubah sesuai */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

h3{
    
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 2px;
    left: 1px;
}
.loader{
    position: relative;
    width: 300px;
    height: 20px;
    background: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005)
}

.loader::before{
    content:"";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#fb0094,#0000ff,#00ff00,#fff000,#fb0094,#0000ff,#00ff00,#fff000,#fb0094);
    animation: animate 20s linear infinite;
    background-size: 500%;


}

.loader::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#fb0094,#0000ff,#00ff00,#fff000,#fb0094,#0000ff,#00ff00,#fff000,#fb0094);
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    0%{
        background-position: 500px , 0;
    }
}